<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Name - Title</title>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fichiers CSS -->
<link rel="stylesheet" href="files/reset.css">
<!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
<![endif]-->
<link rel="stylesheet" media="screen and (max-width:480px)" href="files/mobile.css">
<link rel="stylesheet" media="screen and (min-width:481px)" href="files/cv.css">
<link rel="stylesheet" media="print" href="files/print.css">
</head>

<body>

	<!-- Header -->
	<header role="banner">
		<div class="container_16">
				<hgroup>
					<h1>Name</h1>
					<h2>Title</h2>
				</hgroup>

				<figure>
					<img src="files/photo.jpg" alt="Your photo">
				</figure>
		</div>
	</header>
	
	<!-- Contact -->
	<section class="contactform clearfix">
		<div class="container_16">
			<h3>Contact me</h3>
			<p>Fill out the form below to send me a message. I will answer you as soon as possible.
			<br><em>All fields are required.</em></p>
			<form novalidate="novalidate" method="post" action="#" name="contact" class="grid_16">
				<p class="grid_10"><textarea name="message" placeholder="Your message" class="required"></textarea></p>
				<p class="grid_6">
					<input name="nom" placeholder="Last name First Name" class="required" type="text">
					<input name="email" placeholder="Adresse email" class="required" type="email">	
					<input name="envoi" value="Send the message" class="required" type="submit">
					<span class="messageform"></span>
				</p>
			</form>
		</div>
	</section>
	
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		
			<!-- Experiences -->
			<div class="grid_16 experiences">
				<h3>Experiences</h3>
				<ul>
					<li>
						<h4><strong>Job Name</strong> employer's name</h4>
						<span class="lieu">Place</span>
						<span class="dates">Dates</span>
						<p>A short job description, describe your role and your
                            tasks in a few words so that the recruiter knows more about the
                            nature of your work.</p>
					</li>
					<li>
						<h4><strong>Job Name</strong> employer's name</h4>
						<span class="lieu">Place</span>
						<span class="dates">Dates</span>
						<p>A short job description, describe your role and your
                            tasks in a few words so that the recruiter knows more about the
                            nature of your work.</p>
					</li>
				</ul>
			</div>
		
			<!-- Formations -->
			<div class="grid_16 formations">
				<h3>Formations</h3>
				<ul>
					<li>
						<h4><strong>Name of the training / diploma</strong> on behalf of the school</h4>
						<span class="lieu">Place</span>
						<span class="dates">Period</span>
						<p>Clarify the formation (the abbreviations are not known to everyone).</p>
					</li>
					<li>
						<h4><strong>Name of the training / diploma</strong> on behalf of the school</h4>
						<span class="lieu">Place</span>
						<span class="dates">Period</span>
						<p>Clarify the formation (the abbreviations are not known to everyone)..</p>
					</li>
				</ul>
			</div>
            <div class="grid_16">
                <!-- About -->
                <div class="grid_8 apropos">
                    <h3>About</h3>
                    <p>This section serves as a presentation.</p>
                    <p></p>
                </div>
                
                <!-- skills -->
                <div class="grid_8 competences">
                    <h3>skills</h3>
                    <ul class="barres">
                        <li data-skills="80">skills 1<span style="width: 80%;"></span></li>
                        <li data-skills="60">skills 2<span style="width: 60%;"></span></li>
                        <li data-skills="75">skills 3<span style="width: 75%;"></span></li>
                        <li data-skills="40">skills 4<span style="width: 40%;"></span></li>
                        <li data-skills="95">skills 5<span style="width: 95%;"></span></li>
                    </ul>
                </div>
            </div>
    
			<!-- Hobbies -->
			<div class="grid_8 loisirs">
				<h3>Hobbies</h3>
				<p><strong>Sports :</strong> if you practice</p>
				<p><strong>Association :</strong> if you are a member of an association</p>
				<p>Other more vague hobbies, complete here.</p>
			</div>
		
			<!-- Contact -->
			<div class="grid_8 contact">
				<h3>Contact</h3>
				<p>If you are interested in my profile, do not hesitate to contact me :</p>
				<ul>
					<li class="lieu">Toronto, Canada</li>
					<li class="phone">06 00 00 00 00</li>
					<li class="mail"><a href="mailto:name@myseneca.ca">name@myseneca.ca</a></li>
					<li class="site"><a href="https://my.senecacollege.ca">my.senecacollege.ca</a></li>
					<li class="form"><a class="toContactform">via the contact form</a></li>
                    <li class="form"><a class="toContactform">via the contact form</a></li>
				</ul>
			</div>
	</section>

<!-- Scripts JavaScript -->
<script src="files/jquery-1.js"></script>
<script src="files/validate.js"></script>
<!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
<script src="files/plugins.js"></script>

</body></html>