<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./style.css">
  <div id="header">
    <h2 id="name">Your Name Here</h2>
    <span id="address">Address</span><br>
    <span id="phone">999-999-9999</span><br>
    <a href="mailto:youremail@email.com" target="_blank">
      <span id="email">youremail@email.com</span>
    </a>
  </div>
</head>
<hr>

<body>
  <div class="Biography">
    <h3>
      <center>Biography</center>
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus tincidunt lacus eros. Quisque at efficitur leo, a pretium purus.
      Phasellus non est vitae velit bibendum consequat. In vitae interdum augue.
      Phasellus eleifend hendrerit erat eget tincidunt. Donec quam augue, lobortis id eros non, tristique dictum
      tellus.
      Nullam rhoncus vitae lorem eu pretium. Fusce ligula sapien, semper vitae placerat nec, ultrices ut leo.
    </p>
  </div>
  <hr>
  <div>
    <h3>
      <center>Technical Strengths & Relevent Projects</center>
    </h3>
    <p>
      <center>
        C & C++ language | Visual Studio | JavaScript | SQL | Unix Shell Language | Linux & Windows Operating System |
        GitHub | Heroku | Microsoft Office (Word, Excel, PowerPoint & Outlook) | Web Design via SharePoint Designer
      </center>
    </p>
    <p>
      <p><strong>Database Design & SQL</strong></p>
      <ul>
        <li>
          <span>Used SQL’s Data Definition Language statements of CREATE, ALTER and DROP to create, modify and drop
            database objects including tables, views, sequences and indexes with all constraints required to maintain
            data and referential integrity</span>
        </li>
        <li>
          <span>Use SQL’s Data Manipulation Language statements of INSERT, UPDATE and DELETE to add, change and delete
            application data from tables</span>
        </li>
        <li>
          <span>Use SQL’s Transaction Control Language statements of COMMIT to make database changes permanent and
            ROLLBACK to undo database changes</span>
        </li>
        <li>
          <span>Use SQL’s Data Control Language statements of GRANT and REVOKE to permit and remove access to database
            objects</span>
        </li>
      </ul>
      <p><strong>Object-Oriented Software Development Using C++</strong></p>
      <ul>
        <li>
          <span>Designed classes with dynamically allocated resources to model the components of programming solution</span>
        </li>
        <li>
          <span>Designed member functions using logic constructs to solve tasks of linear complexity</span>
        </li>
        <li>
          <span>Used inheritance hierarchies to minimize the duplication of object code</span>
        </li>
        <li>
          <span>Designed polymorphic objects to amplify the reusability of program code</span>
        </li>
      </ul>
      <p><strong>Web Programming Tools and Frameworks</strong></p>
      <ul>
        <li>
          <span>Completed standards-compliant web client programming tasks for a variety of browsers and devices</span>
        </li>
        <li>
          <span>Proficiency with an editor, inspector, console, and debugger to develop web client programs</span>
        </li>
        <li>
          <span>Demonstrated JavaScript language competence, including typing, functions, scope, objects, and
            prototypal inheritance to implement programming tasks</span>
        </li>
        <li>
          <span>Coded solutions for web client tasks, including layout, navigation, forms, and rendering text content
            and media types, to integrate web programming technologies</span>
        </li>
      </ul>
    </p>
  </div>
  <hr>
  <div>
    <h3>
      <center>Educational Qualifications</center>
    </h3>
    <table>
      <tr id="heading">
        <td><strong>Program</strong></td>
        <td><strong>School</strong></td>
        <td><strong>Grades</strong></td>
        <td><strong>Year</strong></td>
      </tr>
      <tr>
        <td>Computer Programming and Analysis</td>
        <td>Seneca College</td>
        <td>3.8/4.0</td>
        <td>2016-Present</td>
      </tr>
      <tr>
        <td>Finance</td>
        <td>Carleton University</td>
        <td>70%</td>
        <td>20013</td>
      </tr>
    </table>
  </div>
  <hr>
  <div>
    <h3>
      <center>Professional Experience</center>
    </h3>
    <p id="job-title-1"><strong>Job Title 1</strong></p>
    <p id="company-name-1">Company Name, Time</p>
    <p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nullam eu nibh a eros auctor facilisis nec non augue.</li>
        <li>Nam placerat augue in justo tincidunt, nec tincidunt lacus viverra.</li>
        <li>Praesent gravida dui et ultrices varius.</li>
      </ul>
    </p>
  </div>
  <div>
    <p id="job-title-2"><strong>Job Title 2</strong></p>
    <p id="company-name-2">Company Name, Time</p>
    <p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nullam eu nibh a eros auctor facilisis nec non augue.</li>
        <li>Nam placerat augue in justo tincidunt, nec tincidunt lacus viverra.</li>
        <li>Praesent gravida dui et ultrices varius.</li>
      </ul>
    </p>
  </div>
  <hr>
  <div>
    <h3>
      <center>Community Involvement & Extracurricular Achievements</center>
    </h3>
    <span>
      <center>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</center>
    </span>
    <span>
      <center>Sed et nulla in est pulvinar maximus vel in mi.</center>
    </span>
    <span>
      <center>Donec et quam semper, faucibus nibh vel, lacinia ante.</center>
    </span>
  </div>
  <hr>
  <div>
    <p>
      <center>Reference Available Upon Request</center>
    </p>
  </div>
</body>

</html>