<!--Start Contact-->
<div id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-left">
                    <div class="contact-details">
                        <h1>Contact Me</h1>
                        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat.
                            Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                    </div>

                    <div class="contact-address">
                        <p>122 33rd Street East<br /> Saskatoon, SK<br /> S7K 1R9</p>
                    </div>

                    <div class="contact-mail">
                        <p><span>Email:</span>info@focal.com</p>
                        <p><span>Phone:</span>1-306-222-2323</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form action="#">
                        <div class="form-group">
                            <label for="name">Name <span>*</span></label>
                            <input type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address <span>*</span></label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message <span>*</span></label>
                            <textarea class="form-control" id="message" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn submit-btn">Contact me</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>