<!--Start Portfolio-->
<div id="portfolio" class="portfolio-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="protfolio-title">
                    <h1>porfolio</h1>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri. </p>
                </div>
            </div>
        </div>
        <div class="portfolio-container">
            <div class="portfolio-content portfolio-filter theme icon patterns mockup ui">
                <div class="portfolio-menu">
                    <h3>Filter By Category</h3>
                    <ul>
                        <li data-filter="*">All</li>
                        <li data-filter=".theme">Themes</li>
                        <li data-filter=".icon">Icons</li>
                        <li data-filter=".patterns">Patterns</li>
                        <li data-filter=".mockup">Mockups</li>
                        <li data-filter=".ui">UI Kits</li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-content portfolio-items theme icon">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-1">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items icon mockup">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-2">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items mockup icon">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-3">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items ui mockup">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-4">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items patterns icon">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-5">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items theme patterns">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-6">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items icon patterns">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-7">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="portfolio-content portfolio-items patterns icon">
                <div class="portfolio-bg-items">
                    <div class="portfolio-bg protfolio-bg-8">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of portfolio-->