   <!--Strat Resume-->
   <div id="resume" class="resume-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1>Resume</h1>
                <p>pLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                    brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis
                    molestiae pri.</p>
                <a href="#" class="btn cmn-btn resume-btn">Download Resume</a>
            </div>
        </div>
    </div>
</div>
<div class="resume-education">
    <div class="container bottom-border">
        <div class="row">
            <div class="col-lg-6">
                <div class="edu">
                    <h1>My Education</h1>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri.<br /> Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam,
                        te usu virtute placerat. Purto brute disputando cu est.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-detail-box">
                    <div class="single-edu">
                        <h3>Graphic Design Diploma</h3>
                        <p class="edu-date"><span>Reeves College</span> / June 2008 - May 2010</p>
                        <span class="gpa">4.0 gpa</span>
                        <p class="edu-summury">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu
                            virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo
                            accusata ei.</p>
                    </div>
                    <div class="single-edu">
                        <h3>CIT Diploma</h3>
                        <p class="edu-date"><span>Lethbridge College</span> / June 2006 - May 2008</p>
                        <span class="gpa">4.0 gpa</span>
                        <p class="edu-summury">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu
                            virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo
                            accusata ei.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="resume-education work-exp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="edu">
                    <h1>Work Experience</h1>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri.<br /><br /> Lorem ipsum dolor sit amet, ea doming epicuri
                        iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-detail-box">
                    <div class="single-edu">
                        <h3>Lead WEb Designer</h3>
                        <p class="edu-date"><span>ABC Company, Saskatoon</span> / June 2011 - Present</p>
                        <span class="gpa">4.0 gpa</span>
                        <p class="edu-summury">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu
                            virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo
                            accusata ei.</p>
                    </div>
                    <div class="single-edu">
                        <h3>Junior Designer</h3>
                        <p class="edu-date"><span>XYZ Company, Lethbridge</span> / June 2008 - May 2009</p>
                        <span class="gpa">4.0 gpa</span>
                        <p class="edu-summury">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu
                            virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo
                            accusata ei.</p>
                    </div>
                    <div class="single-edu">
                        <h3>Web Developer</h3>
                        <p class="edu-date"><span>The Company, Lethbridge</span> / June 2007 - May 2008</p>
                        <span class="gpa">4.0 gpa</span>
                        <p class="edu-summury">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu
                            virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo
                            accusata ei.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Resume-->