 <!--Start Tartget-->
 <div class="target-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-target-box">
                    <h1>Values</h1>
                    pLorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat.
                    Purto brute disputando cu est.
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-target-box">
                    <h1>goals</h1>
                    pLorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat.
                    Purto brute disputando cu est.
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-target-box">
                    <h1>hobbies</h1>
                    pLorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat.
                    Purto brute disputando cu est.
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</div>
<!--End of Target area-->