 <!--Start Testimonial-->
 <div id="testimonial" class="testimonial-area">
    <div class="owl-carousel testimonial-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                    <h4>John Stone</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                    <h4>John Stone</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                        brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                        periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                    <h4>John Stone</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of testimonial-->