---

permalink: /404.html

---

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>404 Error Page</title>
<style>
  body {margin-left: 50px;}
</style>
</head>
<body>
  <h2 style="color:darkslateblue;"><img src="404.png" alt="404 error page" width="60" height="50">     Oops!</h2>
  <h3>404 Error - Page Not Found</h3>
  <p>This page is not availabe now or has been removed</p>
  <input type="button" onclick="location.href='https://github.com/ywpark1/portfolio-generator';" value="Back to home page" />
</body>
</html>
